.app-toolbar {
  min-height: 10px;
}

.app-title {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 800;
  letter-spacing: -1px;
  color: #000000;
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
}
